// Fonts
@mixin font($font){
  @if($font == apercu-regular){
    font-family: "apercu-regular", sans-serif !important;
  } @else if($font == libre-regular) {
    font-family: "libre-regular", serif !important;
  } @else if($font == libre-italic) {
    font-family: "libre-italic", serif !important;
  }
}

@mixin breakpoint($size){
  @each $point in $breakpoints{
    @if $size == map-get($point, name){
      @media(min-width: map-get($point, size)*1px){@content;}
    }
  }
}