html,
body {
	background-color: $beige;
}

.global-nav {
	width: 100%;
	padding: 10px 0;

	.nav-mobile {
		display: block;
		width: 100%;
    text-align: center;

		.nav-menu {
			position: fixed;
			height: 100%;
			top: 0;
			right: 0;
			transform: translateX(100%);
		}

		@include breakpoint(tablet) {
			display: none;
		}
	}

	.nav-desktop {
		display: none;

		@include breakpoint(tablet) {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	a {
		@include font(apercu-regular);
		font-size: 14px;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.82px;

		@include breakpoint(desktop) {
			margin: 0 20px;
			transition: color 0.3s ease;

			&:hover {
				color: #4B4B4B;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		width: 102px;
		height: 55px;
	}
}

.global-footer {
	padding-top: 100px;

	img {
		width: 100%;

		@include breakpoint(tablet) {
			width: 315px;
			height: 177px;
		}
	}

	p {
		font-size: 14px;
	}

	.footer-container {
		display: flex;
		flex-flow: column wrap;
		max-width: 700px;
		margin: 0 auto;

		@include breakpoint(tablet) {
			flex-flow: row nowrap;

			.footer-hours,
			.footer-contact {
				width: 25%;
			}
		}

		.footer-hours {
			div {
				margin-bottom: 20px;
			}

			p {
				text-align: left;
			}
		}

		.footer-image {
			@include breakpoint(tablet) {
				width: 45%;
				padding: 0 2.5%;
			}
		}

		.footer-contact {
			p {
				margin-bottom: 20px;
				text-align: right;
			}

			a {
				color: #000;
			}

			.footer-gifts {
				font-style: italic;
			}
		}
	}
}
