html,
body {
	background-color: $beige;
}

.global-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;

	a {
		margin: 0 20px;
		font-size: 10px;
		color: #000;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 0.58px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	img {
		width: 102px;
		height: 55px;
	}
}

.global-footer {
	padding-top: 100px;

	img {
		width: 315px;
		height: 177px;
	}

	p {
		font-size: 14px;
	}

	.footer-container {
		display: flex;
		max-width: 700px;
		margin: 0 auto;

		.footer-hours,
		.footer-contact {
			width: 25%;
		}

		.footer-hours {
			div {
				margin-bottom: 20px;
			}

			p {
				text-align: left;
			}

			h3 {
				margin-bottom: 20px;
			}
		}

		.footer-image {
			width: 45%;
			padding: 0 2.5%;
		}

		.footer-contact {
			p {
				margin-bottom: 20px;
				text-align: right;
			}

			a {
				color: #000;
			}

			.footer-gifts {
				font-style: italic;
			}
		}
	}
}
