html,
body {
	background-color: $beige;
}

a {
	text-decoration: none;
	color: #9c7c61;
}

.wrapper {
	@extend %cf;
	max-width: 990px;
	margin: 0 auto;
	border-top: 2px solid $brown;
	border-bottom: 2px solid $brown;
}

.notification-bar {
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px 0;
	text-align: center;
	background: #9c7c61;
	p {
		color: #FFF;
	}
	a {
		color: #FFF;
		text-decoration: underline;
	}
}

.masthead {
	width: 100%;
	z-index: 200;
	overflow: hidden;
	padding: 20px 0 0;
	text-align: center;
	img {
		margin: 0 0 30px;
		vertical-align: middle;
	}
}

.header-nav {
	&.mobile {
		padding: 20px;
		background-color: $beige;

		@include breakpoint(laptop) {
			display: none;
		}
	}
	&.desktop {
		display: none;

		@include breakpoint(laptop) {
			display: block;
		}
	}
	.menu {
		width: 30px;
		height: 16px;
		float: left;
		position: relative;
		padding: 0;
		margin: 0;
		border: none;
		outline: none;
		background-color: transparent;
	    div {
	    	position: relative;
	    	width: 100%;
	    	height: 100%;
	    	&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $black;
				transform: rotate(0deg) translateX(0) translateY(0);
				transition: transform 0.3s ease;
			}
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $black;
				transform: rotate(0deg);
				transition: transform 0.3s ease;
			}
	    }
		span {
			display: block;
			position: absolute;
			top: 50%;
			width: 100%;
			height: 1px;
			background-color: $black;
			opacity: 1;
			transition: opacity 0.3s ease;
		}
		&.toggled {
			div {
				&:before {
					transform: rotate(45deg) translateX(2px) translateY(7.5px);
				}
				&:after {
					transform: rotate(-45deg) translateX(2px) translateY(-7.5px);
				}
			}
			span {
				opacity: 0;
			}
			~ .subnav {
				opacity: 1;
				max-height: 300px;
			}
		}

	}
	.subnav {
		max-height: 0;
		opacity: 0;
		transition: all 0.3s ease;
	}
	a {
		font-family: 'trade-gothic';
		position: relative;
		display: inline-block;
		margin: 0 20px;
		padding: 5px 5px 2px 8px;
		font-size: 15px;
		letter-spacing: 0.2em;
		font-weight: 500;
		color: $darkgrey;
		text-decoration: none;
		text-transform: uppercase;

		&:first-child {
			margin-left: 0;
		}

		@include breakpoint(laptop) {
			transition: all 0.3s ease;
			&:nth-of-type(4) {
				transition: none;
				&:hover {
					background: none;
				}
			}
			&:hover {
				background: $brown;
				color: $beige;
			}
		}
	}
	.logo {
		display: inline-block;
		padding: 0;
	}
}

.footer-contact {
	padding: 20px 0;
}
.contact-top {
	text-align: center;
	color: $black;
	p {
		@include font(garamond-premier);
		margin: 0;
		padding: 0 10px;
		display: inline-block;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.2em;

		@include breakpoint(laptop) {
			border-right: 1px solid $black;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				border-right: none;
				padding: 0 0 0 2px;
			}
		}
	}
	a {
		padding: 5px 8px;
		@include font(garamond-premier);
		text-decoration: none;
		color: $black;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 0.2em;
		transition: all 0.3s ease;
		&:hover {
			color: $brown;
		}
	}
}
.contact-bottom {
	padding-top: 5px;
	text-align: center;
}
.contact-social {
	display: inline-block;
	a {
		color: $brown;
		font-size: 20px;
		transition: color 0.3s ease;
		padding-left: 5px;
		&:first-child {
			padding-left: 0;
		}
		&:hover {
			color: $darkgrey;
		}
	}
}
