@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";
@import "./modules/_placeholders.scss";

h1.script {
	margin: 30px 0;
}

.history-ctn {
	@extend %cf;
	.history-txt {
		box-sizing: border-box;
		width: 50%;
		float: left;
		padding: 0 20px;
		p {
			text-align: left;
			text-indent: 30px;
			line-height: 1.7em;
			&.history-letter {
				float: left;
				width: 6%;
				margin-right: 1%;
				color: $brown;
				font-size: 50px;
				text-indent: 0;
				line-height: 1em;
			}
			&.history-header {
				float: left;
				width: 93%;
				color: $brown;
				text-transform: uppercase;
				letter-spacing: 0.075em;
				text-indent: 0;
				line-height: 1.5em;
			}
			&.history-content {
				text-indent: -30px;
			}
		}
	}
}

.history-images {
	position: relative;
	width: 960px;
	height: 515px;
	margin: 20px auto;
	.history-img {
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		&:nth-of-type(1) {
			width: 362px;
			height: 264px;
			top: 0;
			left: 0;
			z-index: 2;
		}
		&:nth-of-type(2) {
			width: 316px;
			height: 215px;
			top: 200px;
			left: 190px;
			z-index: 1;
		}
		&:nth-of-type(3) {
			width: 516px;
			height: 502px;
			left: 485px;
		}
	}
}

.history-chef {
	width: 700px;
	height: 100%;
	margin: 40px auto;
	.chef-intro {
		display: inline-block;
		width: 305px;
		margin-right: 30px;
		margin-top: 30px;
		vertical-align: top;
		p {
			text-align: left;
			&:last-child {
				text-indent: 30px;
			}
		}
		h4 {
			text-align: center;
			&:last-child {
				text-indent: 0;
			}
		}
	}
	.chef-img {
		display: inline-block;
		width: 300px;
		height: 410px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}