@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";
@import "./modules/_placeholders.scss";

.wrapper {
	.home-hero {
		position: relative;
		margin: 0 0 30px;
		.home-slideshow {
			.home-slides {
				width: 100%;
				height: 0;
				padding: 0 0 52.6%;
				background-repeat: no-repeat;
				background-size: cover;
			}
		}
		.home-pager {
			display: none;
		}
	}

	@include breakpoint(laptop) {
		.home-pager {
			display: block;
		}
		.pager-prev,
		.pager-next {
			width: 30px;
			height: 30px;
			position: absolute;
			z-index: 100;
			top: 50%;
			background-color: $brown;
			background-size: 9px 15px;
			background-position: center;
			background-repeat: no-repeat;
			transform: translateY(-50%);
			cursor: pointer;
		}
		.pager-prev {
			left: -20px;
		}
		.pager-next {
			right: -20px;
		}
	}
}
.OT_title,
.OT_subtitle {
	display: none !important;
}
#OT_form,
.OT_list,
.OT_wrapper,
.OT_submit,
.OTButton {
	width: 100% !important;
	height: 100% !important;
}
.OT_wrapper {
	background-color: transparent !important;
	border: none !important;
	border-radius: 0 !important;
	@include font(garamond-premier);
}
.OT_day {
	margin-top: 25px !important;
}
.OT_day,
.OT_time,
.OT_party {
	position: relative;
	width: 80% !important;
	height: auto !important;
	padding: 0 !important;
	background-image: none !important;
	border: none !important;
	input {
		width: 100% !important;
		box-sizing: border-box;
		@include font(garamond-premier);
		font-size: 16px;
		text-align: left;
		letter-spacing: 0.1em;
		outline: none;
		border: 1px solid $darkgrey;
		border-radius: 0;
		padding: 20px !important;
		vertical-align: top;
		background: $beige !important;
		&::-webkit-input-placeholder {
		   transition: opacity 0.25s ease;
		   color: $darkgrey;
		   @include font(garamond-premier);
		}
		&:focus::-webkit-input-placeholder {
			opacity: 0;
		}
	}
	&:after {
		content: "\f078";
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		font: normal normal normal 14px/1 FontAwesome;
		font-size: 12px;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	@include breakpoint(tablet) {
		.OT_day,
		.OT_time,
		.OT_party {
			width: 100% !important;
		}
	}
}
.OT_submit {
 	display: inline-block;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	a {
		width: 100% !important;
		height: auto !important;
		box-sizing: border-box;
		display: inline-block !important;
		padding: 9.2px 15px !important;
		border: 2px solid transparent !important;
		background-color: $brown !important;
		background-image: none !important;
		color: $beige !important;
		font-size: 16px !important;
		text-align: center;
		letter-spacing: 0.2em;
		font-weight: normal !important;
		line-height: normal;
		text-transform: uppercase;
		text-shadow: none !important;
		@include font(trade-gothic);
		-webkit-font-smoothing: antialiased;
		transition: all 0.3s ease;
		&:hover {
			border: 2px solid $darkgrey !important;
			background-color: $darkgrey !important;
		}
	}
}
.ui-datepicker {
	width: 22em !important;
	margin-left: 0 !important;
}
#OT_timeList,
#OT_partyList {
	width: 100% !important;
	box-sizing: border-box;
	left: 0 !important;
	top: 42px !important;
}
#OT_timeList .OT_navListItem,
#OT_partyList .OT_navListItem {
	float: none !important;
}