html,
body {
	background-color: $beige;
}

body {
	padding: 0 rem(100px);

	@include breakpoint(laptop) {
		padding: 0 rem(60px);
	}
}

a {
	text-decoration: none;
}

.masthead {
	width: 100%;
	text-align: center;
	& img {
		margin: rem(30px) 0;
	}
}

.nav-border {
	background: url(../assets/images/divider-top.png) no-repeat;
	max-width: 100%;
	height: 30px;
	background-size: contain;
}

.header-nav {
	& a {
		@include font(engravers-gothic);
		position: relative;
		display: inline-block;
		margin-left: rem(80px);
		padding-bottom: rem(5px);
		font-size: 14px;
		letter-spacing: 0.2em;
		color: $darkgrey;
		text-decoration: none;
		text-transform: uppercase;
		&:first-child {
			margin-left: 0;
		}
		&:after {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: rem(2px);
			background: $darkgrey;
			content: '';
			opacity: 0;
			-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
			-moz-transition: opacity 0.3s, -moz-transform 0.3s;
			transition: opacity 0.3s, transform 0.3s;
			-webkit-transform: translateY(10px);
			-moz-transform: translateY(10px);
			transform: translateY(10px);
		}
		&:hover:after {
			opacity: 1;
			-webkit-transform: translateY(0px);
			-moz-transform: translateY(0px);
			transform: translateY(0px);
		}
	}
}

main {
	text-align: center;
	padding: rem(100px) 0;
	& h1 {
		@include font(engravers-gothic);
		text-transform: uppercase;
		font-size: 14px;
		margin: 0;
		line-height: 2em;
		letter-spacing: 0.1em;
		color: $darkgrey;
	}
	& a {
		color: $darkgrey;
		transition: opacity 0.3s ease;
		&:hover {
			opacity: 0.5;
		}
	}
}

.footer-contact {
	padding: rem(40px) 0 rem(20px) 0;
	& .contact-top {
		text-align: center;
		color: $black;
		& p {
			@include font(engravers-gothic);
			margin: 0;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 2em;
			letter-spacing: 0.2em;
			& span {
				@include font(garamond);
				font-size: 14px;
				line-height: 1.2em;
				letter-spacing: 0.2em;
			}
			& a {
				@include font(garamond);
				text-decoration: none;
				color: $black;
				text-transform: uppercase;
				font-size: 14px;
				line-height: 1.2em;
				letter-spacing: 0.2em;
				transition: opacity 0.3s ease;
				&:hover {
					opacity: 0.5;
				}
			}
			&.break {
				display:  block;
			}
		}
	}
	& .contact-bottom {
		text-align: center;
		& .contact-social {
			display: inline-block;
			padding-right: rem(10px);
			& a {
				color: $darkgrey;
				font-size: 20px;
				transition: opacity 0.3s ease;
				padding-left: rem(5px);
				&:first-child {
					padding-left: 0;
				}
				&:hover {
					opacity: 0.5;
				}
			}
		}
		& .contact-form {
			display: inline-block;
		}
		& form {
			padding-top: rem(10px);
			text-align: center;
		}
		& input {
			font-size: 16px;
			text-align: center;
			letter-spacing: 0.2em;
		}
		& input[type="email"] {
			@include font(engravers-gothic);
			outline: none;
			padding: rem(1px);
			border: 1px solid $darkgrey;
			width: rem(260px);
			padding: rem(9px);
			background-color: $beige;
			&::-webkit-input-placeholder {
			   transition: opacity 0.25s ease;
			   color: $darkgrey;
			   @include font(engravers-gothic);
			}
			&:focus::-webkit-input-placeholder {
	    		opacity: 0;
			}
		}
		& input[type="submit"] {
			width: rem(130px);
			height: rem(37px);
			border: none;
			background-color: $darkgrey;
			color: $beige;
			@include font(trade-gothic);
			line-height: 0;
			padding: rem(18px) 0;
			-webkit-font-smoothing: antialiased;
			transition: opacity 0.3s ease;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}