@font-face {
	font-family:'apercu-regular';
	src: url('../assets/fonts/apercu-regular.eot');
	src: url('../assets/fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
				url('../assets/fonts/apercu-regular.woff2') format('woff2'),
				url('../assets/fonts/apercu-regular.woff') format('woff'),
				url('../assets/fonts/apercu-regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'libre-regular';
	src: url('../assets/fonts/LibreBaskerville-Regular.ttf');
	src: url('../assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'libre-italic';
	src: url('../assets/fonts/LibreBaskerville-Italic.ttf');
	src: url('../assets/fonts/LibreBaskerville-Italic.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

h1 {
	@include font(libre-regular);
	font-weight: normal;
	font-size: 18px;
	line-height: 26px;
	color: #000;
}

h2 {
	@include font(libre-regular);
	margin: 0;
	font-size: 21px;
	color: #000;
	line-height: 28px;
}

h3,
h4 {
	@include font(apercu-regular);
	margin: 0;
	font-size: 12px;
	letter-spacing: 0.64px;
	text-transform: uppercase;
}

p {
	@include font(libre-regular);
	margin: 0;
	font-size: 15px;
	line-height: 26px;
	color: #000;
}

.underline {
	text-decoration: none;
	background: linear-gradient(#F8F7F1, #F8F7F1), linear-gradient(#F8F7F1, #F8F7F1), linear-gradient(#000, #000);
	background-size: .05em 1px, .05em 1px, 1px 1px;
	background-repeat: no-repeat, no-repeat, repeat-x;
	text-shadow: 0.03em 0 #F8F7F1, -0.03em 0 #F8F7F1, 0 0.03em #F8F7F1, 0 -0.03em #F8F7F1, 0.06em 0 #F8F7F1, -0.06em 0 #F8F7F1, 0.09em 0 #F8F7F1, -0.09em 0 #F8F7F1, 0.12em 0 #F8F7F1, -0.12em 0 #F8F7F1, 0.15em 0 #F8F7F1, -0.15em 0 #F8F7F1;
	background-position-y: 90%, 90%, 90%;
	background-position-x: 0%, 100%, 0%;
	transition: all 0.15s ease;

	&.dark {
		background: linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#1A4E4A, #1A4E4A);
    background-size: .05em 1px, .05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #1A4E4A, -0.03em 0 #1A4E4A, 0 0.03em #1A4E4A, 0 -0.03em #1A4E4A, 0.06em 0 #1A4E4A, -0.06em 0 #1A4E4A, 0.09em 0 #1A4E4A, -0.09em 0 #1A4E4A, 0.12em 0 #1A4E4A, -0.12em 0 #1A4E4A, 0.15em 0 #1A4E4A, -0.15em 0 #1A4E4A;
    background-position-y: 90%, 90%, 90%;
		background-position-x: 0%, 100%, 0%;

		&.show {
			background: linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#fff, #fff);
			background-size: .05em 1px, .05em 1px, 1px 1px;
			background-repeat: no-repeat, no-repeat, repeat-x;
			text-shadow: 0.03em 0 #1A4E4A, -0.03em 0 #1A4E4A, 0 0.03em #1A4E4A, 0 -0.03em #1A4E4A, 0.06em 0 #1A4E4A, -0.06em 0 #1A4E4A, 0.09em 0 #1A4E4A, -0.09em 0 #1A4E4A, 0.12em 0 #1A4E4A, -0.12em 0 #1A4E4A, 0.15em 0 #1A4E4A, -0.15em 0 #1A4E4A;
			background-position-y: 90%, 90%, 90%;
			background-position-x: 0%, 100%, 0%;
		}
	}

	@include breakpoint(desktop) {
		&:hover {
			background: linear-gradient(#F8F7F1, #F8F7F1), linear-gradient(#F8F7F1, #F8F7F1), linear-gradient(#000, #000);
			background-size: .05em 1px, .05em 1px, 1px 1px;
			background-repeat: no-repeat, no-repeat, repeat-x;
			text-shadow: 0.03em 0 #F8F7F1, -0.03em 0 #F8F7F1, 0 0.03em #F8F7F1, 0 -0.03em #F8F7F1, 0.06em 0 #F8F7F1, -0.06em 0 #F8F7F1, 0.09em 0 #F8F7F1, -0.09em 0 #F8F7F1, 0.12em 0 #F8F7F1, -0.12em 0 #F8F7F1, 0.15em 0 #F8F7F1, -0.15em 0 #F8F7F1;
			background-position-y: 100%, 100%, 100%;
			background-position-x: 0%, 100%, 0%;
			transition: all 0.15s ease;
		}

		&.dark:hover {
			background: linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#1A4E4A, #1A4E4A), linear-gradient(#fff, #fff);
			background-size: .05em 1px, .05em 1px, 1px 1px;
			background-repeat: no-repeat, no-repeat, repeat-x;
			text-shadow: 0.03em 0 #1A4E4A, -0.03em 0 #1A4E4A, 0 0.03em #1A4E4A, 0 -0.03em #1A4E4A, 0.06em 0 #1A4E4A, -0.06em 0 #1A4E4A, 0.09em 0 #1A4E4A, -0.09em 0 #1A4E4A, 0.12em 0 #1A4E4A, -0.12em 0 #1A4E4A, 0.15em 0 #1A4E4A, -0.15em 0 #1A4E4A;
			background-position-y: 100%, 100%, 100%;
			background-position-x: 0%, 100%, 0%;
		}
	}

}

h1.header-404 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 26px;
	transform: translateX(-50%) translateY(-50%);
}