@import url('//hello.myfonts.net/count/2de0a2');

@font-face {font-family: 'trade-gothic';src: url('/assets/fonts/2DE0A2_0_0.eot');src: url('/assets/fonts/2DE0A2_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2DE0A2_0_0.woff2') format('woff2'),url('/assets/fonts/2DE0A2_0_0.woff') format('woff'),url('/assets/fonts/2DE0A2_0_0.ttf') format('truetype');}
 

@font-face{
	font-family:'engravers-gothic';
	src:url('/assets/fonts/engravers-gothic-bt.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family:'lucia-bt';
	src:url('/assets/fonts/lucia-bt.ttf') format('truetype');
	font-style: normal;
}

h1 {
	@include font(garamond-premier);
	font-size: 18px;
	letter-spacing: 0.05em;
	font-weight: 400;
	text-align: center;
	color: $darkgrey;
	margin: 0;
}

h1.script {
	@include font(lucia-bt);
	font-size: 48px;
	text-align: center;
	color: $brown;
	margin: 0;
	letter-spacing: 0;
}


hr {
	width: 65px;
	background-color: $darkgrey;
	height: 1px;
	margin: 15px auto;
	border: none;
}

p {
	@include font(garamond-premier);
	margin: 0;
	text-align: center;
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	color: $darkgrey;
}
a.alt {
	display: inline-block;
	@include font(garamond-premier);
	font-size: 18px;
	font-style: italic;
	letter-spacing: 0.05em;
	font-weight: 400;
	color: $brown;
	position: relative;
	transition: color 0.3s ease;
	&:hover {
		color: $darkgrey;
	}
}

h4 {
	@extend p;
	font-style: italic;
}

.input1 {
	width: 185px;
	@include font(garamond-premier);
	font-size: 16px;
	text-align: left;
	letter-spacing: 0.1em;
	outline: none;
	border: 1px solid $darkgrey;
	padding: 5px 10px;
	vertical-align: top;
	background-color: $beige;
	&::-webkit-input-placeholder {
	   transition: opacity 0.25s ease;
	   color: $darkgrey;
	   @include font(garamond-premier);
	}
	&:focus::-webkit-input-placeholder {
		opacity: 0;
	}
}

.btn-dark {
	display: inline-block;
	padding: 5px 15px 4.5px;
	border: 2px solid transparent;
	background-color: $brown;
	color: $beige;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	@include font(trade-gothic);
	-webkit-font-smoothing: antialiased;
	transition: all 0.3s ease;
	&:hover {
		border: 2px solid $darkgrey;
		background-color: $darkgrey;
	}
}

.home-info {
	@extend %cf;
	padding: 0 0 50px 0;
	h1.script {
		margin: 0 0 30px 0;
	}
	> div {
		box-sizing: border-box;
		width: 33%;
		float: left;
		padding: 20px 45px 0 45px;
		text-align: center;
		&:last-child {
			border-right: none;
		}
		&.philosophy {
			p {
				width: 250px;
				margin: 25px auto 15px auto;
			}
			a {
				margin: 10px 0;
			}
		}
		&.hours {
			border-left: 1px solid $darkgrey;
			border-right: 1px solid $darkgrey;
			h4 {
				margin-top: 20px;
				&.alpha {
					margin-top: 25px;
				}
			}
			a {
				margin-top: 21px;
			}
		}
		&.subscribe {
			p {
				margin: 25px 0;
			}
			input {
				text-align: left;
				margin: 0 auto 20px auto;
				display: block;
				&[type="submit"] {
					cursor: pointer;
				}
				&:not([type="submit"]) {
					padding-left: 20px;
				}
			}
		}
	}
}
h1.header-404 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 26px;
	transform: translateX(-50%) translateY(-50%);
}