@import url('//hello.myfonts.net/count/2de0a2');

@font-face {font-family: 'trade-gothic';src: url('/assets/fonts/2DE0A2_0_0.eot');src: url('/assets/fonts/2DE0A2_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2DE0A2_0_0.woff2') format('woff2'),url('/assets/fonts/2DE0A2_0_0.woff') format('woff'),url('/assets/fonts/2DE0A2_0_0.ttf') format('truetype');}
 

@font-face{
	font-family:'engravers-gothic';
	src:url('/assets/fonts/engravers-gothic-bt.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family:'lucia-bt';
	src:url('/assets/fonts/lucia-bt.ttf') format('truetype');
	font-style: normal;
}

h1 {
	// @include font(garamond-premier);
	// font-size: 18px;
	// letter-spacing: 0.05em;
	// font-weight: 400;
	// text-align: center;
	// color: $darkgrey;
	// margin: 0;
}

h3,
h4 {
	margin: 0;
	font-size: 10px;
	text-transform: uppercase;
}

p {
	// @include font(garamond-premier);
	margin: 0;
	font-size: 14px;
	letter-spacing: 0.58px;
	color: #000;
}

h1.header-404 {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 26px;
	transform: translateX(-50%) translateY(-50%);
}