{% extends "global/_layout" %}
{% set title = "Gallery" %}


{% block content %}
<section class="gallery-wrapper">
	<div id="container">
		<div class="gallery-img">
			<a href="#"><img src="/assets/images/gallery/gallery-1.jpg"></a>
		</div>
		<div class="gallery-img double">
			<a href="#"><img src="/assets/images/gallery/gallery-2.jpg"></a>
			<a href="#"><img src="/assets/images/gallery/gallery-3.jpg"></a>
		</div>
		<div class="gallery-img">
			<a href="#"><img src="/assets/images/gallery/gallery-4.jpg"></a>
		</div>
		<div class="gallery-img">
			<a href="#"><img src="/assets/images/gallery/gallery-7.jpg"></a>
		</div>
		<div class="gallery-img">
			<a href="#"><img src="/assets/images/gallery/gallery-5.jpg"></a>
			<a href="#"><img src="/assets/images/gallery/gallery-6.jpg"></a>
		</div>
		<div class="gallery-img">
			<a href="#"><img src="/assets/images/gallery/gallery-8.jpg"></a>
		</div>
	</div>
</section>
{% endblock %}