{% extends "global/_layout" %}
{% set title = "Contact" %}


{% block content %}
	<section class="contact-map">
		<div id="map-canvas"></div>
	</section>
	<section class="home-info">
		<div class="philosophy">
			<header>
				<h1>Information</h1>
			</header>
			<hr>
			<p>4305 McCorsley Ave<br>Little River, SC, 29566</p>
			<p>Phone: <a class="alt" href="tel:8432493702">843.249.3702</a><br><a class="alt" href="mailto:tparsonstable@gmail.com">info@parsonstable.com</a></p>
			<p>Gift cards may either be purchased in person or over the phone and will be mailed out.</p>

		</div>
		<div class="hours">
			<header>
				<h1>Hours</h1>
			</header>
			<hr>
			<h4 class="alpha">Dinner</h4>
			<p>Monday - Saturday</p>
			<p>4:30pm - 9pm</p>
			<h4>Early Bird</h4>
			<p>4:30 - 5:30pm</p>
			<h4>Happy Hour</h4>
			<p>4:30 - 6:30pm</p>
			<div class="reserve">
				<a href="https://resy.com/cities/ltr/the-parsons-table" id="resyButton-CeiaYRKBkC">Book your The Parson's Table reservation on Resy</a>
				<script src="https://widgets.resy.com/embed.js"></script>
				<script>
				    resyWidget.addButton(document.getElementById('resyButton-CeiaYRKBkC'), {"venueId":7969,"apiKey":"8MLXIzWwu4yrFbwrKGsphTQY3mFfiHV6","replace":true,});
				</script>
			</div>
		</div>
	</section>
{% endblock %}
