@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";
@import "./modules/_placeholders.scss";

.contact-map {
	margin: 30px 0;
	img {
		width: 100%;
	}
}

.home-info {
	@extend %cf;
	margin: 0px 0;
	div.philosophy {
		a {
			margin: 0;
			font-style: normal;
			font-size: 16px;
		}
	}
}