@import "./modules/_variables.scss";
@import "./modules/_functions.scss";
@import "./modules/_mixins.scss";
@import "./modules/_placeholders.scss";

.wrapper {
	.home-info {
		@extend %cf;
		padding: rem(50px) 0;
		div {
			box-sizing: border-box;
			width: 33%;
			height: rem(360px);
			float: left;
			border-right: 1px solid $darkgrey;
			padding: rem(20px) rem(65px) 0 rem(65px);
			text-align: center;
			&:last-child {
				border-right: none;
			}
			&.philosophy {
				p {
					margin: rem(25px) 0 rem(15px) 0;
				}
				a {
					margin: rem(10px) 0;
				}
			}
			&.hours {
				h4 {
					margin-top: rem(20px);
					&:first-child {
						margin-top: rem(25px);
					}
				}
				a {
					margin-top: rem(20px);
				}
			}
		}
	}
}