{% extends "global/_layout" %}
{% set title = "" %}


{% block content %}
	<section class="home-hero">
		<div class="home-slideshow" style="overflow: hidden;">
			{% for asset in entry.topSlideshow %}
				<div class="home-slides" style="background-image:url({{ asset.url }});"></div>
			{% endfor %}
		</div>
		<div class="home-pager">
			<span class="pager-prev" style="background-image:url(/assets/images/home/pager-left.png);"></span>
			<span class="pager-next" style="background-image:url(/assets/images/home/pager-right.png);"></span>
		</div>
	</section>
	<h1 class="script">Award Winning Dining in Our Historic Setting</h1>
	<section class="home-info">
		<div class="philosophy">
			<header>
				<h1>Our Philosophy</h1>
			</header>
			<hr>
			<p>Throughout the development of the menus of The Parson&rsquo;s Table we strive to provide you, our guests, with the finest and freshest ingredients nature offers. We also want to do our part to protect the environment by working with sustainable, organic suppliers both locally and throughout the country.</p>
			<a href="/history" class="alt">Read more</a>
		</div>
		<div class="hours">
			<header>
				<h1>Hours</h1>
			</header>
			<hr>
			<h4 class="alpha">COVID-19</h4>
			<p>Due to the Governor's executive order, we are currently closed. We will be offering curbside service on Thursday-Saturday from 4:30-6:30PM.</p>
			<p>Learn more and view menu <a href="http://parsonstable.com/uploads/home/PT_2020_Curbside_Menu.pdf" target="_blank">here</a>.</p>
		</div>
		<div class="subscribe" id="reserve">
			<header>
				<h1>Make a Reservation</h1>
			</header>
			<hr>
			<a href="https://resy.com/cities/ltr/the-parsons-table" id="resyButton-CeiaYRKBkC">Book your The Parson's Table reservation on Resy</a>
			<script src="https://widgets.resy.com/embed.js"></script>
			<script>
			    resyWidget.addButton(document.getElementById('resyButton-CeiaYRKBkC'), {"venueId":7969,"apiKey":"8MLXIzWwu4yrFbwrKGsphTQY3mFfiHV6","replace":true,});
			</script>
		</div>
	</section>
{% endblock %}
